@import "tailwindcss";

@font-face {
  font-family: "IRYekan";
  src: url('/fonts/iryekan-b.woff2') format('woff2'),
    url('/fonts/iryekan-b.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
#root {
  direction: rtl;
  font-family: "IRYekan", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


body {
  margin: 0;
  font-family: "IRYekan", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./assets/background-pc.jpg');
  background-size: cover;
  /* fill the whole area */
  background-position: center center;
  /* keep focus at center */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 1024px) {
  body {
    background-image: url('./assets/background-pc.jpg');
    background-position: top center;
    /* adjust focus for wider screens */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

/* Override کردن فونت پیش‌فرض Tailwind برای pre و code */
pre,
code,
kbd,
samp {
  font-family: "IRYekan", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}