@import "tailwindcss";

@font-face {
  font-family: "IRYekan";
  src: url('/fonts/iryekan-b.woff2') format('woff2'),
    url('/fonts/iryekan-b.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
#root {
  direction: rtl;
  font-family: "IRYekan", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: "IRYekan", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- تنظیم پس‌زمینه زیبا --- */
  background-image: url('./assets/background.jpeg');
  /* آدرس عکس خود را قرار دهید */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* باعث می‌شود پس‌زمینه هنگام اسکرول ثابت بماند */
}